* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100vw;
    height: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* Styles pour le conteneur principal */
.container {
    /*background: #202020;*/
    /*color: deeppink ;*/
    display: flex;
    /*flex-direction: column;*/
    /*justify-content: center;*/
    align-items: center;
    /*min-height: 100vh;*/
    /*position: relative; !* Position relative pour le .container *!*/
}
.container input{
    width: 300px;
    border: 2px solid pink;
    padding: 10px;
    border-radius: 30px;
}
.container img{
    /*top: 5px; !* Ajustez la position verticale en pixels *!*/
    /*left: 45px; !* Ajustez la position horizontale en pixels *!*/
    width: 50px; /* Réglez la largeur de l'image */
    z-index: 1; /* Assurez-vous que l'image est au-dessus du contenu */
}

.container logo {
    margin-left: 270 px;
    position: absolute; /* Position absolue par rapport au .container */

}
h1{
    margin-bottom: 10px;
}

