* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    /* Fond sombre */
    background: #1a1a1a;
    color: #fff; /* Texte blanc */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.signup, .login {
    width: 360px;
    /* Fond jaune pour l'inscription et la connexion */
    background: yellow;
    padding: 20px;
    border-radius: 20px;
    /* Ombre légère */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

h1 {
    text-align: center;
    /* Couleur de titre légèrement plus foncée */
    color: #333;
}

/* Style pour les champs de formulaire */
form {
    display: flex;
    flex-direction: column;
}

form p {
    margin-bottom: 5px;
    /* Texte en noir */
    color: #000;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    /*  taille de la police */
    padding: 10px;
    margin-bottom: 10px;
    /* Texte en noir */
    border: 1px solid #000;
    border-radius: 5px;
    /* Texte en noir */
    color: #000;
    /* Taille de police  */
    font-size: 16px;
}

input[type="submit"] {
    background: black; /* Bouton noir */
    color: yellow; /* Texte jaune à l'intérieur du bouton */
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px; /* Augmentation de la taille de la police du bouton */
}

input[type="submit"]:hover {
    background: #333; /* Couleur de bouton au survol */
}

/* Styles pour les liens */
p a {
    color: #007bff; /* Couleur du lien */
    text-decoration: none;
    margin-left: 5px;
}

p a:hover {
    text-decoration: underline; /* Souligner le lien au survol */
}

/* Styles pour le texte "Join Woap !" */
h4 {
    text-align: center;
    color: #000; /* Texte en noir */
}
