body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgb(255, 213, 43);
    color: black;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.container h1 {
    margin: 0 0 15px;
    text-align: center;
}

.btn {
    font-size: 15px;
    font-weight: bold;
    background-color: black;
    color: white;
}
.login-form {
    background-color: #ffd929;
    color: black;
    width: 340px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 100);
}

.login-form h2 {
    margin: 0 0 15px;
}
