/* Style de la barre de recherche */
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,900');
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: dodgerblue;
}

.navigation {
    width: 400px;
    height: 70px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.navigation ul {
    display: flex;
    width: 350px;
    list-style: none;
    padding: 0;
}

.navigation ul li {
    position: relative;
    list-style: none;
    height: 70px;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a {
    text-decoration: none;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation ul li a .icon {
    line-height: 75px;
}

.search-bar {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Style des boutons de navigation */
.nav-buttons {
    text-align: center;
}

.nav-buttons button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-buttons button:hover {
    background-color: #555; /* Changement de couleur au survol */
}

/* Style du menu déroulant */
.dropdown {
    position: absolute;
    left: 10px;
    top: 60px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    display: none;
}

.dropdown a {
    display: block;
    color: #fff;
    padding: 5px 0;
    text-decoration: none;
    transition: color 0.3s;
}

.dropdown a:hover {
    color: #ffd700; /* Changement de couleur au survol */
}

/* Style du bouton + */
.add-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #000;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.add-button:hover {
    background-color: #ffd700; /* Changement de couleur au survol */
    color: #000;
}

/* Styles pour les boutons supplémentaires */
.additional-buttons {
    display: none;
    position: fixed;
    bottom: 75px;
    right: 30px;
    flex-direction: column;
}

.additional-buttons button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.additional-buttons button:hover {
    background-color: #555; /* Changement de couleur au survol */
}
